.freelance {
    background: url(/footer-bg.png);
    font-family: "Poppins", sans-serif;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    animation: fadeInAnimation ease 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.freelance .freelance-head {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.freelance .max-width .freelance-header {
    padding-top: 140px;
    display: flex;
}

.freelance .max-width .freelance-head h2 {
    max-width: 480px;
    color: var(--white);
    font-size: 45px;
    font-weight: 900;
    line-height: 40px;
    letter-spacing: 0.01em;
    text-align: left;
}

.freelance .max-width .freelance-head p {
    font-size: 15px;
    font-weight: 500;
    line-height: 22.5px;
    letter-spacing: 0.01em;
    text-align: left;
    max-width: 486px;
    color: var(--white);
    margin-top: 10px;
}

.freelance .booka {
    margin-top: 70px;
}

.freelance .booka .booka-image {
    display: flex;
    align-items: center;
    justify-content: center;
}

.freelance .booka .booka-body {
    margin-top: 50px;
}

.freelance .booka .booka-body h2 {
    font-size: 30px;
    font-weight: 900;
    line-height: 45px;
    letter-spacing: 0.01em;
    text-align: left;
    color: var(--booka-blue);
}

.freelance .booka .booka-body .booka-text {
    display: flex;
    margin-bottom: 25px;
}

.freelance .booka .booka-body .booka-text>div:first-child {
    margin-right: 250px;
}

.freelance .booka .booka-body .booka-text>div {
    margin-top: 25px;
}

.freelance .booka .booka-body>div p {
    max-width: 550px;
    font-size: 15px;
    font-weight: 500;
    line-height: 22.5px;
    letter-spacing: 0.01em;
    text-align: left;
    color: var(--white);
}

.freelance .booka .booka-body>div p:last-child {
    margin-top: 25px;
}

.freelance .booka .booka-body a {
    color: var(--white);
    font-size: 15px;
    font-weight: 600;
    line-height: 33px;
    letter-spacing: 0.01em;
    text-align: center;
    background: var(--booka-blue);
    padding: 15px 12px;
    border-radius: 15px;
}

@media screen and (max-width: 1024px) {
    .freelance .booka .booka-image img {
        width: 100%;
        height: auto;
    }

    .freelance .booka .booka-body .booka-text>div:first-child {
        margin-right: 60px;
    }
}

@media screen and (max-width: 850px) {
    .freelance .max-width .freelance-head {
        padding-top: 50px;
    }

    .freelance .max-width .freelance-header {
        padding-top: 50px;
    }

    .freelance .max-width .freelance-head h2 {
        font-size: 35px;
        line-height: 35px;
    }

    .freelance .booka .booka-body .booka-text {
        flex-direction: column;
    }

    .freelance .booka .booka-body .booka-text>div:first-child {
        margin: 0;
    }
}

.freelance .forecast-hub {
    margin-top: 115px;
}

.freelance .forecast-hub .forecast-body {
    display: flex;
    align-items: center;
}

.freelance .forecast-hub .forecast-body>div {
    margin-left: 155px;
}

.freelance .forecast-hub .forecast-body>div h2 {
    color: var(--yellow);
    font-size: 30px;
    font-weight: 900;
    line-height: 45px;
    letter-spacing: 0.01em;
    text-align: left;
}

.freelance .forecast-hub .forecast-body>div p {
    color: var(--white);
    font-size: 15px;
    font-weight: 500;
    line-height: 22.5px;
    letter-spacing: 0.01em;
    text-align: left;
    max-width: 585px;
}

.freelance .forecast-hub .forecast-body>div p:nth-child:first-child {
    margin-bottom: 30px;
}

.freelance .forecast-hub .forecast-body>div ul li {
    color: var(--white);
    font-size: 15px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0.01em;
    text-align: left;
    margin-left: 20px;
}

.freelance .forecast-hub .forecast-body>div a {
    color: var(--white);
    font-size: 15px;
    font-weight: 600;
    line-height: 33px;
    letter-spacing: 0.01em;
    text-align: center;
    background: var(--yellow);
    padding: 15px 12px;
    border-radius: 15px;
}

@media screen and (max-width: 1024px) {
    .freelance .forecast-hub .forecast-body>img {
        width: 100%;
        height: auto;
    }

    .freelance .forecast-hub .forecast-body {
        flex-direction: column;
    }

    .freelance .forecast-hub .forecast-body>div {
        margin-left: 0;
        margin-top: 50px;
    }
}

@media screen and (max-width: 850px) {
    .freelance .max-width .freelance-header {
        padding-top: 50px;
    }

    .freelance .max-width .freelance-head h2 {
        font-size: 35px;
        line-height: 35px;
    }

    .freelance .booka .booka-body .booka-text {
        flex-direction: column;
    }

    .freelance .booka .booka-body .booka-text>div:first-child {
        margin: 0;
    }
}