/* Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Tiro+Tamil:ital@0;1&display=swap');

/* Quicksand */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

/* Montserrat */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* Cordon */
@font-face {
  font-family: "Cordon";
  src:
    local("Cordon"),
    url("../public/fonts/Cordon.otf") format("opentype");
}

:root {
  --white: #FFFFFF;
  --black: #000000;
  --brown: #DF966E;
  --light-peach: #FFF7DA;
  --custom-grey: #E5E5E5;
  --off-white: #F1F1F1;
  --grey: #B2B2B2;
  --yellow: #FBBC05;
  --dark-grey: #747474;
  --off-white: #F8F8F8;
  --teach-for-all: #CE4652;
  --booka-blue: #14B9FF;
  --polished-lounge: #CD5277;
  --dark-brown: #DA5C29;
  --black-gradient: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0.72) 100%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  cursor: none;
}

a {
  text-decoration: none;
  color: unset;
}

body {
  overflow-y: scroll;
}

body,
div,
section {
  position: relative;
}


.cursor {
  z-index: 20 !important;
}

.max-width {
  max-width: 1920px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 120px;
  padding-right: 120px;
}

.home,
nav,
footer {
  font-family: "Poppins", sans-serif;
  animation: fadeInAnimation ease 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.loader {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 9;
  background: #ffffff81;
  padding: 30px;
  transition: all ease 1s;
}

.loader .load-element {
  max-width: 500px;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loader .load-element svg {
  border-radius: 100px;
}

.slide {
  transform: translateX(100%) !important;
}

/* HERO START */
.hero {
  background: url(/hero-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.hero .header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  height: 80vh;
}

.hero .header>div {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.hero .header>div span {
  font-size: 25px;
  font-weight: 900;
  line-height: 33px;
  letter-spacing: 0.01em;
  text-align: center;
  color: var(--white);
}

.hero .header>div h1 {
  font-size: 128px;
  font-weight: 900;
  line-height: 128px;
  letter-spacing: 0.01em;
  text-align: center;
  background: -webkit-linear-gradient(90deg, rgba(64, 82, 228, 0.3) 0%, #4052E4 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hero .header>div .speech-bubble {
  position: relative;
  background: var(--yellow);
  border-radius: 10px;
  padding: 10px;
  width: 200px;
  right: 230px;
}

.hero .header>div .speech-bubble::after {
  content: '';
  position: absolute;
  top: -18px;
  left: 65%;
  transform: translateX(-50%) rotate(180deg);
  border-width: 10px;
  border-style: solid;
  border-color: var(--yellow) transparent transparent transparent;
}

.hero .header>div .speech-bubble p {
  font-size: 15px;
  font-weight: 500;
  line-height: 33px;
  letter-spacing: 0.01em;
  text-align: center;
  color: var(--white);
}

/* HERO END */

/* ABOUT START */

.hero .about {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 100px;
}

.hero .about .about-right {
  margin-left: 116px;
}

.hero .about .about-right>div {
  display: flex;
  align-items: center;
}

.hero .about .about-right>div h2 {
  font-size: 60px;
  font-weight: 900;
  line-height: 60px;
  letter-spacing: 0.01em;
  color: var(--white);
}

.hero .about .about-right p {
  font-size: 15px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.01em;
  text-align: left;
  max-width: 517px;
  color: var(--white);
}

.hero .about .about-right p span {
  padding: 5px;
  border-radius: 5px;
  background: #4052E4;
}

.hero .about .about-right p:nth-child(4) span {
  background: var(--yellow);
}

/* ABOUT END */

/* GALLERY START */
.gallery {
  padding: 0;
}

.gallery .top-gal,
.gallery .bot-gal {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.img-container {
  position: relative;
  width: 100%;
  height: 500px;
}

.img-container .overlay {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background: rgba(196, 196, 196, 0.815);
  padding: 30px;
}

.img-container .overlay p {
  font-family: "Poppins", serif;
  font-size: 50px;
  font-weight: 400;
  line-height: 70px;
  letter-spacing: 0.01em;
}

.img-container img {
  object-fit: cover;
}

.img-container .overlay p:last-child {
  font-size: 20px;
  font-weight: 400;
  line-height: 33px;
  letter-spacing: 0.01em;
}

.img-container:hover .overlay {
  opacity: 1;
}

/* GALLERY END */

/* GET IN TOUCH START */
.get-in-touch>div {
  width: 100%;
  background: url(/touch-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 184px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-bottom: 120px;
}

.get-in-touch h2 {
  font-size: 120px;
  font-weight: 900;
  line-height: 120px;
  letter-spacing: 0.01em;
  text-align: center;
  color: var(--white);
}

.get-in-touch p:nth-child(2) {
  font-size: 20px;
  font-weight: 300;
  letter-spacing: 0.01em;
  text-align: center;
  margin-top: 70px;
  background: var(--yellow);
  padding: 5px;
  border-radius: 5px;
  color: var(--black);
}

.get-in-touch p:nth-child(3) {
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 0.01em;
  text-align: left;
  margin-top: 20px;
  color: var(--white);
}

.get-in-touch p:nth-child(3) span {
  text-decoration: underline;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0.01em;
  text-align: center;
  color: var(--white);
}

/* GET IN TOUCH END */

/* FOOTER START */
footer {
  width: 100%;
  background: url(/footer-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 60px 0px 20px;
}

footer .footer-body .max-width {
  display: flex;
  justify-content: space-between;
  color: white;
}

footer .footer-body .footer-left {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
}

footer .footer-body .footer-left p {
  font-size: 24px;
  font-weight: 400;
  line-height: 33px;
  letter-spacing: 0.01em;
  text-align: left;
  max-width: 351px;
  margin-bottom: 30px;
}

footer .footer-body .footer-left a {
  font-size: 24px;
  font-weight: 400;
  line-height: 33px;
  letter-spacing: 0.01em;
  color: var(--black);
  text-align: left;
  background: var(--yellow);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  max-width: 271px;
  height: 58px;
  width: 100%;
}

footer .footer-body .footer-right {
  display: flex;
}

footer .footer-body .footer-right div {
  display: flex;
  flex-direction: column;
}

footer .footer-body .footer-right div:first-child {
  margin-right: 150px;
}

footer .footer-body .footer-right p {
  font-size: 24px;
  font-weight: 400;
  line-height: 33px;
  letter-spacing: 0.01em;
  margin-bottom: 14px;
}

footer .footer-body .footer-right a {
  font-size: 20px;
  font-weight: 400;
  line-height: 33px;
  letter-spacing: 0.01em;
  margin-bottom: 18px;
}

footer .footer-body .copyright {
  margin: 0 auto;
  margin-top: 80px;
  width: 80%;
  border-top: 1px solid var(--white);
}

footer .footer-body .copyright p {
  font-size: 15px;
  font-weight: 400;
  line-height: 33px;
  letter-spacing: 0.01em;
  text-align: center;
  margin-top: 30px;
  color: var(--white);
}

footer .footer-body .copyright p a {
  text-decoration: underline;
}

/* FOOTER END */

@media screen and (max-width: 1280px) {
  .cursor {
    display: none;
  }

  footer .footer-body .footer-left {
    justify-content: flex-start;
  }
}

@media screen and (max-width: 1024px) {
  .max-width {
    padding-left: 20px;
    padding-right: 20px;
  }

  .hero .about {
    flex-direction: column;
  }

  .hero .about .about-right {
    margin: 0;
  }

  .hero .about .about-right p {
    max-width: 700px;
  }

  footer .footer-body .max-width {
    padding: 20px;
  }

  footer .footer-body .footer-right div:first-child {
    margin-right: 150px;
  }

  footer .footer-body .footer-right div:last-child {
    margin-right: 50px;
  }

  footer .footer-body .footer-left p {
    font-size: 23px;
  }

  footer .footer-body .copyright {
    margin-top: 20px;
  }
}

@media screen and (max-width: 850px) {

  .gallery .top-gal,
  .gallery .bot-gal {
    grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
  }

  footer .footer-body .footer-right div:first-child {
    margin-right: 70px;
  }
}

@media screen and (max-width: 550px) {

  .hero .header>div {
    align-items: center;
  }

  .hero .header>div .Typewriter {
    margin-bottom: 10px;
  }

  .hero nav {
    justify-content: space-between;
  }

  .hero nav a {
    margin: 0;
  }

  .hero .header>div h1 {
    font-size: 60px;
    line-height: 60px;
  }

  .hero .header>div p {
    font-size: 20px;
  }

  .hero .header>div .speech-bubble {
    right: 0px;
    top: 20px;
    width: 165px;
    padding: 5px;
  }

  .hero .about>div img {
    width: 100%;
    height: auto;
  }

  .hero .about .about-right img {
    width: 90px;
    height: auto;
  }

  .hero .about .about-right>div h2 {
    font-size: 40px;
  }

  .img-container {
    height: 300px;
  }

  .get-in-touch p:nth-child(2) {
    margin-top: 20px;
  }

  .gallery.max-width {
    padding: 0;
  }

  .get-in-touch h2 {
    font-size: 40px;
    line-height: 80px;
  }

  footer {
    padding-top: 20px;
  }

  footer .footer-body .max-width {
    flex-direction: column;
    padding: 20px;
  }

  footer .footer-body .footer-left {
    display: block;
  }

  footer .footer-body .footer-left p {
    font-size: 15px;
  }

  footer .footer-body .footer-left a {
    font-size: 15px;
    height: 40px;
    max-width: 140px;
  }

  footer .footer-body .footer-right p {
    font-size: 18px;
    margin-bottom: 10px;
  }

  footer .footer-body .footer-right a {
    font-size: 14px;
    margin-bottom: 5px;
  }

  footer .footer-body .footer-right {
    margin-top: 30px;
    justify-content: space-between;
  }

  footer .footer-body .footer-right div:first-child {
    margin: 0;
  }
}

@media screen and (max-width: 320px) {
  footer .footer-body .footer-right {
    flex-direction: column;
  }

  footer .footer-body .footer-right div:last-child {
    margin-top: 20px;
  }
}