/* Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Tiro+Tamil:ital@0;1&display=swap');
/* Quicksand */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
/* Montserrat */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --white: #FFFFFF;
  --black: #000000;
  --brown: #DF966E;
  --light-peach: #FFF7DA;
  --custom-grey: #E5E5E5;
  --off-white: #F1F1F1;
  --grey: #B2B2B2;
  --yellow: #FBBC05;
  --dark-grey: #747474;
  --off-white: #F8F8F8;
  --black-gradient: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0.72) 100%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: unset;
}

.max-width {
  max-width: 1920px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 120px;
  padding-right: 120px;
}

/* HERO START */
section.hero {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background: linear-gradient(113.04deg, #CF81FF 3.08%, #31B5FF 107.42%);
  padding-left: 117px;
  height: 100vh;
}

section.hero h1 {
  font-family: "Tiro Tamil", serif;
  font-size: 50px;
  font-weight: 400;
  line-height: 100px;
  letter-spacing: 0.01em;
  text-align: left;
  max-width: 1205px;
}

/* HERO END */

/* GALLERY START */
section.gallery .top-gal,
section.gallery .bot-gal {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.img-container {
  position: relative;
  width: 100%;
  height: 500px;
}

.img-container .overlay {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background: rgba(196, 196, 196, 1);
  padding: 30px;
}

.img-container .overlay p {
  font-family: "Tiro Tamil", serif;
  font-size: 50px;
  font-weight: 400;
  line-height: 70px;
  letter-spacing: 0.01em;
}

.img-container .overlay p:last-child {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 33px;
  letter-spacing: 0.01em;
}

.img-container:hover .overlay {
  opacity: 1;
}

/* GALLERY END */

/* GET IN TOUCH START */
section.get-in-touch {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: rgba(223, 167, 165, 0.31);
  padding-top: 184px;
  padding-bottom: 135px;
}

section.get-in-touch h2 {
  font-family: "Tiro Tamil", serif;
  font-size: 96px;
  font-weight: 400;
  line-height: 100px;
  letter-spacing: 0.01em;
  text-align: center;
  margin-bottom: 10px;
}

section.get-in-touch p {
  font-family: "Tiro Tamil", serif;
  font-size: 32px;
  font-weight: 400;
  line-height: 70px;
  letter-spacing: 0.01em;
  text-align: center;
}

section.get-in-touch p span {
  text-decoration: underline;
}

/* GET IN TOUCH END */

/* FOOTER START */
footer {
  background: #000000;
  padding: 60px 0px 111px;
}

footer .footer-body {
  border: 5px solid #FFFFFF;
  border-left: none;
  border-right: none;
}

footer .footer-body .max-width {
  display: flex;
  justify-content: space-between;
  color: white;
  padding: 55px 238px 70px 91px;
}

footer .footer-body .footer-left {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
}

footer .footer-body .footer-left p {
  max-width: 351px;
  font-family: "Tiro Tamil", serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 33px;
  letter-spacing: 0.01em;
  text-align: left;
  margin-bottom: 45px;
}

footer .footer-body .footer-left a {
  font-family: "Tiro Tamil", serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 33px;
  letter-spacing: 0.01em;
  text-align: center;
  border: 3px solid #DFA7A5;
  padding: 10px 96px;
  border-radius: 50px;
}

footer .footer-body .footer-right {
  display: flex;
}

footer .footer-body .footer-right div {
  display: flex;
  flex-direction: column;
}

footer .footer-body .footer-right div:first-child {
  margin-right: 114px;
}

footer .footer-body .footer-right p {
  font-family: "Tiro Tamil", serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 33px;
  letter-spacing: 0.01em;
  margin-bottom: 14px;
}

footer .footer-body .footer-right a {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 33px;
  letter-spacing: 0.01em;
  margin-bottom: 18px;
}

/* FOOTER END */

@media screen and (max-width: 1024px) {
  footer .footer-body .max-width {
    padding: 20px;
  }

  footer .footer-body .footer-right div:first-child {
    margin-right: 150px;
  }

  footer .footer-body .footer-right div:last-child {
    margin-right: 50px;
  }
}

@media screen and (max-width: 850px) {
  section.hero {
    padding: 270px 117px;
  }

  section.gallery .top-gal,
  section.gallery .bot-gal {
    grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
  }

  footer .footer-body .footer-right div:first-child {
    margin-right: 70px;
  }
}

@media screen and (max-width: 550px) {
  section.hero {
    padding: 50px 20px;
  }

  section.hero h1 {
    font-size: 35px;
    line-height: 70px;
    letter-spacing: 0.01em;
  }

  .img-container {
    height: 300px;
  }

  section.get-in-touch {
    padding: 50px 20px;
  }

  section.get-in-touch h2 {
    font-size: 40px;
    line-height: 80px;
  }

  section.get-in-touch p {
    font-size: 30px;
    line-height: 50px;
    letter-spacing: 0.01em;
  }

  footer .footer-body .max-width {
    flex-direction: column;
    padding: 20px;
  }

  footer .footer-body .footer-left {
    display: block;
  }

  footer .footer-body .footer-right {
    margin-top: 50px;
    justify-content: space-between;
    margin-right: 50px;
  }

  footer .footer-body .footer-right div:first-child {
    margin: 0;
  }
}

@media screen and (max-width: 450px) {
  footer .footer-body .footer-left {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  footer .footer-body .footer-right {
    margin-right: 0;
  }

  footer .footer-body .footer-right div:last-child {
    margin-right: 30px;
  }
}

@media screen and (max-width: 320px) {
  footer .footer-body .footer-right {
    flex-direction: column;
  }

  footer .footer-body .footer-left a {
    padding: 10px 0px;
    width: 100%;
  }
}